<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>WiPro Digital - Interwiev</title>

  <script type="text/x-handlebars-template" id="genericError">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </script>

  <script type="text/x-handlebars-template" id="results">
    <div class="container">
      <dl class="row">
          {{#if city}}
            <dt class="col-sm-3">City: </dt>
            <dd class="col-sm-9">{{city}}</dd>
            <dt class="col-sm-3">Country: </dt>
            <dd class="col-sm-9">{{country}}</dd>
          {{else}}
            <dt class="col-sm-3">Location: </dt>
            <dd class="col-sm-9">{{lat}}, {{lng}}</dd>
          {{/if}}
      </dl>
    <hr/>
    <small>
        {{#each forecasts}}
            <div class="row result-data">
                <div class="d-inline align-middle">
                    <span class="align-middle">{{datetime}}</span>
                </div>
                <div class="d-inline">
                    <img src="http://openweathermap.org/img/w/{{iconSrc}}" alt="{{description}}"/>/
                    <span style="background-color: {{temperatureBacgroundColor}}; color: {{temperatureTextColor}};">{{temperature}}&deg;C</span> /
                    {{pressure}}hPa /
                    {{humidity}}%
                </div>
                <hr/>
            </div>
        {{/each}}
    </small>
    </div>
  </script>


</head>
<body>


  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <h1>5 day wheather forecast</h1>
        <h3>Click on the map to get the local forecast</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" id="errorContainer">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="map">

        </div>
      </div>
    </div>
  </div>

  <!-- result displaying modal -->

  <div class="modal fade" tabindex="-1" role="dialog" id="forecastResult">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">5 days forecast</h5><br/>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container" id="resultContainer">
            <div class="row">
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="align-self-center">Getting Results</div>
              </div>
              <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-center">
                <img src="assets/loading.gif" alt="loading spinner">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>